<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="about.css" rel="stylesheet" type="text/css" media="all" />
    <title>About us</title>
</head>

<body>
    <div class="about-section">
        <h1>About Sambalpur University Startup Forum</h1>
        <p>Sambalpur University StartUp Forum (SUSF) is effort taken by Sambalpur University, Jyotivihar Burla,
            Sambalpur, Odisha to start an
            <b>Incubation cum Skilling Centre</b> to bring the students, faculties,
            entrepreneurs
            and corporates of Western Odisha to come under one roof to innovate, research, develop business solutions as
            per the need of the society.
        </p>
    </div>

    <p class="about-brief">Sambalpur University was established in1966 and recognized by the University Grant
        Commission. It is a member of the Indian Association of Universities as well as the Commonwealth Association of
        Universities. Sambalpur University has been accredited by NAAC with A Grade in September 2016 for a period of
        five years. It has 20 Post-Graduate Departments, 1 Constituent Law College, 1 Constituent Engineering College, A
        Directorate of Distance Education and a number of centres like Private Education Cell, UGC Human Resource
        Development Centre (HRDC), an Academic Staff College. The University also offers a number of Self Financing
        Courses. Besides, there are one hundred and forty* affiliated colleges under the University. The University has
        envisioned being a centre of excellence in higher education with a focus on innovative teaching, learning,
        research, consultancy and extension activities for building a creative, enlightened and productive civil
        society.
    </p>
    <hr>
    <div class="about-description">
        <b> SUSF has been registered as a NOT FOR PROFIT organization under the Sec - 8 of Companies Act, 2013 since
            Sept ,2021
        </b><br><br>
        <U>Objective of <b>SUSF</b></U>
        <ul>
            <li>To promote entrepreneurship among students, faculties and people in and around Western Odisha.</li>
            <li>To identify, nurture business ideas and entrepreneurs and promote them with knowledge, product building,
                funds and infrastructure. </li>
            <li>To build a conducive environment for the students, faculties, entrepreneurs and people from the
                corporate to continually come together and work for better business solutions as per the need of the
                society.</li>
            <li>To explore partnership opportunities with Corporates, Social Organizations, Institutions in identifying
                problems and finding solutions, </li>
            <li>To train amateure entreprenuers in various legal and non legal compliances and formalities required to
                develop their products and business. </li>

        </ul>
    </div>
    <hr>

    <h1 class="testimonials"> Testimonials:</h1>
    <h3 style="padding: 2%;">Coming soon....</h3>
    <!-- <div class="row">
        <div class="column">
            <div class="card">
                <img src="/w3images/team1.jpg" alt="Jane" style="width:100%">
                <div class="container">
                    <h2>Jane Doe</h2>
                    <p class="title">CEO & Founder</p>
                    <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                    <p>jane@example.com</p>
                    <p><button class="button">Contact</button></p>
                </div>
            </div>
        </div>

    </div> -->

</body>

</html>